body{
    /*background-color: sandybrown */
    background-color: #e7e1e1;
}
/* unvisited link */
a#cart_logo{
    color: black;
}
/* visited link */
a:visited#cart_logo{
    color: black;
}
/* mouse over link */
a:hover#cart_logo {
    color: sandybrown;
}  
/* selected link */
 a:active#cart_logo{
    color: sandybrown;
}
#i_shopping_logo{
    margin-left: 300px;
}
#product_logo_tag{
    padding-left: 8px;
}
#product_logo{
    width: 100%;
    /*padding-left: 15px;*/
}
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: sandybrown;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#content {
    margin-top: 100px;
    transition: margin-left .5s;
    /*padding: 20px;*/
}

/* The Font Awesome BAR Icon */
#bars{
    margin-left: 20px;
    margin-top: 20px;
}

.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    line-height: 20px;
    background-color: pink;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}